@mixin btn ($color) {
    display: flex;
    height: 25px;
    width: 60px;
    padding-top: 1.5px;
    border-style: solid;
    border-radius: 5px;
    color: #fff;
    border-color: $color;
    background: $color;
  }
  
  @mixin commonBtn($color, $leftpx, $width) {
    margin-left: $leftpx;
    width: $width;
    background-color: $color;
    border-color: $color;
    border-style: solid;
    border-radius: 5px;
    color: #fff;
  }