:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper {
  width: 1200px;
}
.tableRouter .table-row-light {
  background-color: #ffeadd;
}

.tableRouter .table-row-dark {
  background-color: #f9e0bb;
}

.tableBrowserRouter .table-row-light,
.tableRoute .table-row-light,
.tableLink .table-row-light,
.tableNavLink .table-row-light,
.tableNavigate .table-row-light {
  background-color: #d2e9e9;
}

.tableBrowserRouter .table-row-dark,
.tableRoute .table-row-dark,
.tableLink .table-row-dark,
.tableNavLink .table-row-dark,
.tableNavigate .table-row-dark
 {
  background-color: #f8f6f4;
}

.tableRouter thead.ant-table-thead .ant-table-cell {
  background-color: #f1c93b;
}

.tableBrowserRouter thead.ant-table-thead .ant-table-cell,
.tableRoute thead.ant-table-thead .ant-table-cell,
.tableLink thead.ant-table-thead .ant-table-cell,
.tableNavLink thead.ant-table-thead .ant-table-cell,
.tableNavigate thead.ant-table-thead .ant-table-cell {
  background-color: #6cdbdb;
  color: white;
}
.ant-pagination {
  display: none !important;
}
* {
  font-size: 18px;
  font-family: "Cascadia Code", "华文中宋", monospace;
}

.tableRouter,
.tableRoute,
.tableBrowserRouter,
.tableLink,
.tableNavLink,
.tableNavigate,
h3 {
  margin-left: 50px;
}

.lv1 {
  margin-left: 50px;
}

.lv2 {
  margin-left: 80px;
  margin-top: -15px;
}

.lv3 {
  margin-left: 110px;
}

.lv4 {
  margin-left: 140px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-thead>tr>th, 
:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-tbody>tr>th, 
:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-tbody>tr>td, 
:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper tfoot>tr>th, 
:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper tfoot>tr>td {
    padding: 8px 8px;
}
