:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper {
    width: 1200px;
}

.table-row-light {
    background-color: #FFEADD;
}
.table-row-dark {
    background-color: #F9E0BB;
}
.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: #f3c177;
}

*{
    font-size: 20px;
    font-family: 'Cascadia Code', '华文中宋', monospace;
    
}

.table,h3{
    margin-left: 50px;
}

.lv1{
    margin-left: 50px;
}

.lv2{
    margin-left: 80px;
    margin-top: -15px;
}

.lv3{
    margin-left: 110px;
}

.lv4{
    margin-left: 140px;
}